@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0px;
  padding: 0px;
  user-select: none;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
}

.app {
  background: #6a717a;
  /* background-image: url('../assets/bg1.jpg'); */
  background-size: cover;
  margin: auto;
  justify-content: center;
  display: flex;
  height: 100vh;
}

.home {
  background-image: url('../assets/bg1.jpg');
  height: 90vh;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  height: 200px;
  width: 200px;
}

.link {
  color: #fff;
  text-decoration: none;
}

.menu-g {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  background: #1c2129;
  /* background-image: url('../assets/bg3.jpg'); */
  width: 500px;
  height: 10vh;
  position: fixed;
  bottom: 0;
}

.btn-menu {
  height: 20px;
  width: 20px;
}

.btn-label-menu {
  color: #adabaa;
  font-size: 15px;
}

@media screen and (max-width: 500px) {
  
  /* .start-button {
    background-color: transparent;
    font-size: 2em;
    color: #ffa462;

    -webkit-animation: breathing 4s ease-out infinite normal;
    animation: breathing 2s ease-in-out infinite normal;
  } */

  .home {
    width: 100vw;
  }

  .menu-g {
    width: 100vw;
    bottom: 0;
  }

 
}
